@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
:root{
  --Pink: hsl(322, 100%, 66%);
  --Very-Pale-Cyan: hsl(193, 100%, 96%);
  --Very-Dark-Cyan: hsl(192, 100%, 9%);
  --Grayish-Blue: hsl(208, 11%, 55%);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img,
svg{
  max-width: 100%;
}
body{
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  min-height: 100vh;
  max-width: 1440px;
  min-width: 400px;
}
header{
  background-color: var(--Very-Pale-Cyan);
  background-image: url(/images/bg-hero-mobile.svg);
  text-align: center;
  padding: 20px 30px;
}
.sect1{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3cm;
}
.logo{
  width: 140px;
  height: 30px;
}
.white{
  border-radius: 50px;
  padding: 10px 30px;
  background-color: white;
  box-shadow: 4px 4px 5px hsl(208, 21%, 86%);
  border: none;
  color: var(--Very-Dark-Cyan);
  font-weight: 700;
  font-size: 16px;
}
.build{
  display: grid;
  gap: 1cm;
}
h1{
  color: var(--Very-Dark-Cyan);
  font-size: 34px;
  font-weight: 600;
}
.par1{
  color: var(--Very-Dark-Cyan);
  font-weight: 400;
  font-size: 22px;
}
button.pink1{
  border-radius: 50px;
  background-color: var(--Pink);
  color: white;
  font-weight: 700;
  padding: 20px 60px;
  border: none;
  margin-bottom: 2cm;
}
.section1{
  background-color: white;
}
.services{
  display: grid;
  gap: 1cm;
  margin-top: 50px;
  margin-bottom: 130px;
}
.grow,
.flowing,
.users{
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 3px 16px rgba(0,0,0,0.12);
  padding: 50px;
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
}
.grow,
.flowing,
.users{
  display: grid;
  gap: 2cm;
}

.left{
  display: grid;
  gap: 1cm;
}
h2{
  color: var(--Very-Dark-Cyan);
  font-weight: 600;
}
.part2{
  color: var(--Grayish-Blue);
}
.section2{
  position: relative;
  max-width: 100%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 40px 0;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 3px 16px rgba(0,0,0,0.12);
  margin-bottom: -80px;
}
h3{
  margin-bottom: 20px;
  font-weight: 600;
}
.pink2{
   border-radius: 50px; 
   padding: 10px 80px;
   border: none;
   background-color: var(--Pink);
   color: white;
   font-weight: 700;
   box-shadow: 0 3px 16px rgba(0,0,0,0.12);
}
.section3{
  background-color: var(--Very-Dark-Cyan);
  padding: 180px 30px 50px 20px;
  color: white;
}
.logo1{
  margin-bottom: 1cm;
  width: 180px;
}
.infos{
  display: grid;
  gap: 1cm;
  margin-bottom: 2cm;
}
.info1,
.info2,
.info3{
  display: flex;
  gap: 0.5cm;
}
.location,
.phone,
.email{
  width: 20px;
  height: 20px;
  object-fit: contain;
}
.lists{
  list-style-type: none;
  display: grid;
  gap: 1cm;
  margin-bottom: 2cm;
}
a{
  text-decoration: none;
  color: white;
  font-size: 24px;
}
.socials{
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 0.5cm;
  margin-bottom: 1cm;
}
.socials a{
  border: 1px solid #fff;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}
.copy{
  text-align: center;
}
@media(min-width: 960px){
    header{
        background-image: url(/images/bg-hero-desktop.svg);
    }
    .build-sect{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2cm;
      padding: 50px 20px;
    }
    .build{
      width: 45%;
      text-align: start;
    }
    .mockups{
      width: 55%;
    }
    h1{
      font-size: 40px;
      margin: 10px 0;
    }
    .par1{
      font-size: 18px;
      margin: 10px 0;
    }
    .grow,
    .flowing,
    .users{
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-content: space-between;
      align-items: center;
    }
    .grow img{
      width: 500px;
    }
    .left{
      grid-column: 1/2;
      grid-row: 1/2;
      text-align: start;
    }
    .left1{
      text-align: start;
    }
    .footer-sect{
      display: flex;
      padding: 0 50px;
    }
    .logo1{
      margin-left: 1.2cm;
    }
    .infos{
      min-width: 40%;
      width: 40%;
    }
    .lists{
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding-left: 100px;
      padding-right: 100px;
    }
    .copy{
      display: flex;
      justify-content: flex-end;
    }
}